{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static './assets/css/index.css' %}" />
  </head>
  <body>
    <div class="section">
      <div class="form">
        <form action="login" method="POST">
          {% csrf_token %}
          <h1>LOG IN</h1>
          <input
            class="box"
            type="email"
            name="email"
            placeholder="Email"
            required
          />
          <br />

          <input
            class="box"
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <br />
          <input
            type="submit"
            id="submitDetails"
            name="submitDetails"
            value="Submit"
          />
          <br />
          <h4 class="error">
            {% for message in messages%} {{message}} {% endfor %}
          </h4>
          <br />
          <p>Have not account yet?</p>
          <a href="register">
            Sign up
          </a>
        </form>
      </div>
    </div>
  </body>
</html>
