{% extends "home.html" %} {% block body %}
<div class="profile">
  <h4><u> {{user.role}} Profile</u></h4>
  <h5>Name : {{user.name}}</h5>
  <h5>Email : {{user.email}}</h5>
  <h5>Role : {{user.role}}</h5>
  <h5>Mobile.no : {{user.mobileno}}</h5>
  <a style="color: blue;" id="myBtn">Change password</a>
  <br />
  <a style="color: blue;" id="myBtntwo">Change mobile number</a>
  <br />
  <br />
  <h5 class="error">
    {% for message in messages%} {{message}} {% endfor %}
  </h5>
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <br />
        <span class="close">&times;</span>
        <h2>Change password</h2>
        <br />
      </div>
      <br />
      <div class="modal-body">
        <form action="changepassword" method="POST">
          {% csrf_token %}
          <br />
          Old password :
          <input type="password" name="oldpassword" required /><br /><br />
          New password :
          <input type="password" name="newpassword" required /><br /><br />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <br />
    </div>
  </div>
  <div id="myModaltwo" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <br />
        <span class="closetwo">&times;</span>
        <h2>Change Mobile.no</h2>
        <br />
      </div>
      <br />
      <div class="modal-body">
        <form action="changemobileno" method="POST">
          {% csrf_token %}
          <br />
          New Mobile.no :
          <input type="text" name="mobileno" required /><br /><br />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <br />
    </div>
  </div>
</div>

{% endblock %}
