{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User panal</title>
    <link rel="stylesheet" href="{% static './assets/css/home.css' %}" />
    <link rel="stylesheet" href="{% static './assets/css/modalBox.css' %}" />
    <link
      rel="stylesheet"
      href="{% static './assets/css/pending-approvel.css' %}"
    />
  </head>
  <body>
    <div class="header">
      <h3>User Management Portal || User</h3>
      <div class="right">
        <a href="profile">
          Profile
        </a>
        <a href="logout" class="logout-btn">
          Logout
        </a>
      </div>
    </div>
    <div class="body">
      {% block userbody %}
      <h1>Welcome {{name}}!!!</h1>
      {% endblock %}
    </div>
    <script src="{% static './assets/js/modalBox.js' %}"></script>
  </body>
</html>
